#cardDisplay {
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
    height: 80vh;
    max-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    overflow-y: scroll;
}

#cardDisplay::-webkit-scrollbar {
    display: none;
}

#cartDisplay {
    position: fixed;
    z-index: 1000;
    width: 90%;
    left: 5%;
    background-color: white;
    border: 1px solid;
    height: 8vh;
}

#cartDisplay.active {
    position: absolute;
    z-index: 1000;
    top: 25%;
    bottom: 0;
    left: 5%;
    width: 90%;
    background-color: white;
    border: 1px solid;
}
#cartList{
    display: grid;
    max-height: 70vh;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    gap: 3rem;
    overflow-y: scroll;
}
#cartList::-webkit-scrollbar {
    display: none;
}
